<header>
    <div class="horizontalList">
        <div>
            <button class="menuButton" title="Meniu" onclick="OpenNav()">
                <img class="menuIcon" src="{{ asset('images/menu.png') }}" alt="Meniu"/>
            </button>
        </div>

        <div>
            <h1>NAGIDO</h1>
        </div>

        <div>
            <button class="searchButton" title="Paieška">
                <img class="searchImage" src="{{ asset('images/search-single.png') }}" alt="Paieška"/>
            </button>
        </div>

        <div>
            <form class="searchForm">
                <input type="text" id="search" placeholder="Ieškokite">
            </form>
        </div>

        <div>
                <a class="signOutButton" href="{{ path('logout') }}">Atsijungti</a>
        </div>
    </div>
</header>