<div id="options">
    <label for="dateFrom"><b>Galioja nuo:</b></label>
    <input type="date" id="dateFrom" name="from">

    <label for="dateUntil"><b>Galioja iki:</b></label>
    <input type="date" id="dateUntil" name="until">
    <br>

    <label for="reminder"><b>Priminimas:</b></label>
    <input type="date" id="reminder" name="reminder">
    <br>

    <label for="documentNotes"><b>Pastabos:</b></label>
    <input type="text" id="documentNotes" name="documentNotes" placeholder="Įrašykite pastabas..">
    <br>
</div>