{% block newDocument %}
    <div>
        <button id="addDocumentButton" class="addDocumentButton">
            Sukurti naują dokumentą..
        </button>
    </div>

    <div id="newDocumentWindow" class="newDocumentWindow">
        <div class="newWindow">
            {% if form %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            {% endif %}
        </div>
    </div>
{% endblock %}