{% block list3 %}
    <ul id="ul3">
        <li>
            <div class="sideNavigationTitle_left"><b>ETIKETĖS</b></div>
            <div class="sideNavigationTitle_right">
                <a href="#">
                    <div><b>Redaguoti</b></div>
                </a>
            </div>
        </li>



        {% for tag in tags %}
            <li>
                <a href="">
                    <div>
                        <img src="{{ asset('images/tag.png') }}" alt="Etiketė"/>
                        <span class="sideList">{{ tag.tagName }}</span>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}