{% block list3 %}
    <ul id="ul3">
        <li>
            <div class="sideNavigationTitle_left"><b>ETIKETĖS</b></div>
            <div class="sideNavigationTitle_right">
                <a href="#">
                    <div><b>Redaguoti</b></div>
                </a>
            </div>
        </li>

        {% for i in 11..12 %}
            <li>
                <a href="javascript:showArticle({{ i }})">
                    <div>
                        <img src="{{ asset('images/tag.png') }}" alt="Etiketė"/>
                        <span class="sideList">{{ ["Etiketė ", i-10]|join }}</span>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}