//* {
//    box-sizing: border-box;
//}
//
//body {
//    display: block;
//    font-family: 'Helvetica', 'Arial', 'sans-serif';
//    color: #494948;
//    overflow-x: hidden;
//    overflow-y: auto;
//    padding: 0;
//    margin: 0;
//    background-color: #f0f0f0;
//
//    & > article {
//
//    }
//}
//
//article,
//header,
//section {
//    display: block;
//}
//
//section {
//    position: fixed;
//}
//
//header, footer {
//    vertical-align: middle;
//}
//
//header {
//    position: fixed;
//    background-color: #ff7f2a;
//    padding: 8px;
//    color: white;
//    height: 70px;
//    width: 100%;
//    margin: 0;
//}
//
//.menuIcon {
//    width: 25px;
//    height: 25px;
//    cursor: pointer;
//}
//
//h1 {
//    font-size: 22px;
//    font-weight: 400;
//    margin: 0;
//    text-align: center;
//    display: none;
//}
//#main h1 {
//    padding: 10px 0;
//    font-size: 20px;
//    /*font-weight: bold;*/
//}
//
//.horizontalList {
//    list-style-type: none;
//    margin: 0;
//    padding: 0;
//
//    & div {
//        float: left;
//        padding: 15px;
//
//        &:last-child {
//            padding: 7px;
//            float: right;
//        }
//    }
//}
//
//
//.menuButton,
//.searchButton {
//    background: inherit;
//    border: none;
//    outline: none;
//    padding: 0;
//    display: inline-block;
//}
//
//.searchButton {
//    padding: 0 0 0 10px;
//}
//
//.searchForm {
//    background: #ffffff;
//    width: 520px;
//    height: 40px;
//    margin: -8px 0 0 40px;
//    border: 1px solid grey;
//    border-radius: 4px;
//    display: none;
//}
//
//.newDocumentForm {
//    background-color: #ffffff;
//    width: 30%;
//    height: 40px;
//    margin: 10px auto;
//    border: 1px solid grey;
//    border-radius: 4px;
//}
//
//.searchImage {
//    width: 25px;
//    height: 25px;
//    cursor:pointer;
//    vertical-align: middle;
//}
//
//.searchForm input[type=text],
//.searchForm input[type=text]:hover {
//    width: 400px;
//    border: none;
//    outline: none;
//    background-color: inherit;
//    margin: 10px;
//}
//
//.signOutButton {
//    height: 40px;
//    width: 80px;
//    background-color: #ffffff;
//    border: 1px solid grey;
//    outline: none;
//    border-radius: 4px;
//    cursor: pointer;
//    font-size: 14px;
//}
//
//.saveButton,
//.cancelButton {
//    height: 30px;
//    width: 80px;
//    margin: 20px 0 0 0;
//    background-color: #ffffff;
//    border: 1px solid grey;
//    outline: none;
//    border-radius: 4px;
//    cursor: pointer;
//    font-size: 14px;
//}
//
//.sideNavigation {
//    height:calc(100% - 70px);
//    width: 250px;
//    margin: 70px 0 0 0;
//    position: fixed;
//    z-index: 1;
//    top: 0;
//    left: 0;
//    overflow-x:hidden;
//    transition: 0.5s;
//    border-right: 1px solid #d0d0d0;
//    /*background-color: #e3e3e3;*/
//    background-color: #f0f0f0;
//}
//
//.sideNavigation ul {
//    display: block;
//    list-style-type: none;
//    margin: 0;
//    padding: 5px 0;
//    white-space: nowrap;
//    border-bottom: 1px solid #d0d0d0;
//}
//
//.sideNavigation ul:last-child {
//    border-bottom: none;
//}
//
//.sideNavigation ul li {
//    padding-bottom: 8px;
//    padding-top: 8px;
//    padding-left: 20px;
//}
//
//.sideNavigation li:hover {
//    background-color: #C8C8C8;
//}
//
//#ul2 li:hover:first-child,
//#ul3 li:hover:first-child {
//    background-color: inherit;
//}
//
//.sideNavigation img, td img {
//    width: 25px;
//    float: left;
//    margin: 3px;
//}
//
//a {
//    text-decoration: none;
//    width: 100%;
//    font-size: 14px;
//    color: #494948;
//}
//
//.sideList {
//    padding-left: 15px;
//    display: inline-block;
//    padding-top: 3px;
//    text-align: left;
//    text-overflow: ellipsis;
//    line-height: 30px;
//}
//
//#main {
//    position: fixed;
//    transition: margin-left .5s;
//    padding: 15px 0 0 15px;
//    margin: 70px 0 0 250px;
//    height:calc(100% - 70px);
//    width:100%;
//    /*background-color: #f0f0f0;*/
//    z-index: 1;
//    top: 0;
//    left: 0;
//    overflow-x:hidden;
//}
//
//.sideNavigationTitle_left,
//.sideNavigationTitle_right {
//    font-size: 10pt;
//    display: inline-block;
//    width: 50%;
//    padding: 3px;
//}
//
//.sideNavigationTitle_right {
//    text-align: center;
//}
//
//.sideNavigationTitle_right:hover {
//    background-color: #C8C8C8;
//}
//
//.addDocumentButton {
//    background-color: #ffffff;
//    border: 1px solid grey;
//    border-radius: 4px;
//    cursor: pointer;
//    height: 40px;
//    width: 200px;
//    outline: none;
//    text-align: center;
//    font-size: 14px;
//    margin: 0 0 10px 0;
//}
//
//.addDocumentButton span {
//    font-size: 17px;
//    padding: 15px;
//}
//
//ul li span {
//    width: 170px;
//}
//
//.newDocumentWindow {
//    display: none;
//    position: fixed;
//    top: 0; right: 0; bottom: 0; left: 0;
//    background-color: rgba(0,0,0,.5);
//}
//
//.newWindow {
//    max-width: 400px;
//    max-height: 600px;
//    position:fixed;
//    left:0; right:0; top:0; bottom:0;
//    vertical-align: middle;
//    padding: 15px;
//    margin: auto;
//    background-color: #ffffff;
//    box-shadow: 0 2px 3px 0 grey;
//}
//
//table {
//    border-collapse: collapse;
//    border: 1px solid #9d938c;
//    padding: 20px;
//}
//
//th {
//    padding: 12px;
//    border: 1px solid #9d938c;
//    background-color: lightgrey;
//    text-align: center;
//}
//
//tr, td {
//    padding: 5px;
//    border: 1px solid #9d938c;
//    background-color: #ffffff;
//}
//
//tr:hover {
//    background-color: #ddd;
//}
//
//.newWindow form input,
//.newWindow form select {
//    padding: 7px 15px;
//    outline: none;
//}
//
//.newWindow form label {
//    display: block;
//    margin: 10px 0;
//}
//
//.displayCenter {
//    display: block;
//    margin: 0 auto;
//    width: 40%;
//    text-align: center;
//    font-size: 15pt;
//    color: #B8B8B8;
//}
//
//.displayCenter img {
//    width: 150px;
//}
//
//@media (min-width: 568px) {
//
//}
//
//@media (min-width: 768px) {
//
//}
//
//@media (min-width: 992px) {
//    h1 {
//        display: inline-block;
//    }
//    #one {
//        display: none;
//    }
//    .searchForm {
//        display: inline-block;
//    }
//}