<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{{ "NAGIDO" }}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700" rel="stylesheet" type="text/css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('apple-touch-icon.png') }}">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        {% block canonical_meta %}{% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
    <div>{% block header %}{% endblock %}</div>
    <div>{% block content %}{% endblock %}</div>
    <div>
        {% block footer %}
            <footer>&copy; 2018 by D&G</footer>
        {% endblock %}
    </div>
    {% block javascripts %}
        {#<script src="{{ asset('build/js/app.js') }}"></script>#}
    {% endblock %}
{% endblock %}
</body>
</html>